@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>

<p> We take your privacy seriously and we are committed to protecting your privacy. We follow the procedures set out in this policy when using your information. By using this Website to give us your information you accept the terms of and consent to us using your information in accordance with this policy.
    </p> <br>

<p>INFORMATION COLLECTED <br>
We will use the information we collect about you lawfully and to process your order and to provide you with the best possible service. If you use the services we will collect Name/Address: Ensure accurate delivery to the customer. Used in all contact with a customer with regard to orders. Phone Number: Used only for easily contacting customers in the event of a problem arising with an order. Email Address: Used to easily contacting customers in the event of a problem arising with an order. This may also be used to advise customers of any special offers and product offerings.

 Recipient Details: Including name, address and personal message for the purpose of processing your order. Used to ensure accurate dispatch of order. Recipients are never contacted regarding any future promotions or product offerings. We will never collect sensitive information about you without your consent. We may respond by telephone, post or email.
 </p> <br>

 <p>
SECURITY <br>
This site has security measures in place to protect the loss, misuse and alteration of the information under our control. All data is protected using the most advanced methods available.
</p> <br>

<p>  
USE OF INFORMATION <br>
The information you provide will be held on a database and may be accessed by our staff.

 We may pass aggregate information on the usage of our Website to third parties but this will not include information that can be used to identify you.

We will not e-mail you in the future unless you have given us your consent other than to confirm orders or inform you of products that you have previously ordered.

We will not share your information with any third party for marketing purposes without your consent. You will have the opportunity to refuse any marketing e-mail from us or from other third parties in the future.

We do our best to ensure that all information held relating to you is kept up-to-date, accurate and complete. However we also rely on you to notify us if your information requires updating or deleting. We will respond to requests from you to update or delete your information in an efficient and timely manner.
</p> <br>

<p> 
USE OF COOKIES <br>
We use a feature of your Internet Web Browser called a 'Cookie' on our website. A Cookie is a very small text file that your Web Browser places on your computer's hard disc. Our Cookies are only used to store a unique identifier. They do not store any information about you, your orders nor any password or credit card information. This cookie allows us to make sure you do not loose your basket content in case your shopping is interrupted for any reason. We may amend this Privacy Policy at any time without notice.

If we make any substantial changes in the way we use your Personal Information we will notify you by posting them on the Website. All comments, queries and requests relating to our use of your information are welcomed and should be addressed to:

The Flower Shop

Main Street

Stranorlar

Co. Donegal
</p>