<!------REVIEWS Section------->

           <section id="reviews" class="reviews-table">
              <h1>DON'T LISTEN TO US - LISTEN TO OUR CLIENTS</h1>
             
              
              <div class="row ">
                <div class="reviews-size">
                    <img src="~/images/Bulgarian-Client.jpg" alt="Bulgarian Client ">
                    <div>
                        <h3> Desislava Hristova </h3>
                        <p>FlowerShopProject is just awesome! I just launched a startup which leaves me with no time for going out and buying flowers, so FlowerShopProject is a life-saver. Now that I got used to it, I just won't be able to live without it!</p>
                    </div>
                </div>
                <div class="reviews-size">
                    <img src="~/images/American-Client.jpg" alt="American Client">
                    <div>
                        <h3>Noah Oliver </h3>
                        <p>Inexpensive, great smelling flowers, delivered right to my home. We have lots of flower delivery services here in Los Angeles, but no one comes even close to FlowerShopProject. Me and my family are so in love!</p>
                    </div>
                </div>
                <div class="reviews-size">
                  <img src="~/images/Japanese-Client.jpg" alt="Japanese Client">
                  <div>
                      <h3>Akari Sakura </h3>
                      <p>I was looking for a quick and easy flower Delivery Service in Tokyo. I tried a lot of them and ended up with FlowerShopProject. Best flower delivery service. Keep up the great work!</p>
                  </div>
              </div>
            </div>
           </section>