<!------OUR CITIES Section------->

<section  id="cities"  class="cities-table" >
            <h1>WE DELIVER TO</h1>

            <div class="card-group">
              <div class="card">
                <div class="img-zoom">
                <img src="~/images/Sofia.jpg" class="card-img-top" alt="Sofia">
              </div>
                <div class="card-body">
                  <h5 class="card-title">SOFIA</h5>
                  <p class="card-text">Sofia is the birth place of our company. In Bulgaria We Love Flowers. We have satisfied more then 200,000 clients here</p>                 
                  <p class="card-text"><small class="text-muted">Local Contact Number: 02 353 8861</small></p>               
                </div>
              </div>
              <div class="card">
                <div class="img-zoom"> 
                <img src="~/images/Los Angeles.jpg" class="card-img-top" alt="Los Angeles" />
                </div>
                <div class="card-body">
                  <h5 class="card-title">LOS ANGELES</h5>
                  <p class="card-text"> America the land of dreams. We at FlowerShopProject have always strived to deliver here and Los Angeles welcomed us with open arms. We have Delivered to more then 80,000 clients</p>
                  <p class="card-text"><small class="text-muted">Local Contact Number: 213-555-0649</small></p>
                </div>
              </div>
              <div class="card">
                <div class="img-zoom"> 
                <img src="~/images/Tokyo.jpg" class="card-img-top" alt="Tokyo">
              </div>
                <div class="card-body">
                  <h5 class="card-title">TOKYO</h5>
                  <p class="card-text">Japan the land of the rising sun. It never came to our minds that we would even have a chance to deliver to Tokyo but here we are. Even though we have deliverd to less people here 20,000 they are happy</p>
                  <p class="card-text"><small class="text-muted">Local Contact Number: 75 443 7329</small></p>
                </div>
              </div>
            </div>
           </section>
          