
/* OUR CITIES Configuration */

.cities-table {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.card-group img {
    height: 400px;
}

.img-zoom {
    overflow: hidden;
}

    .img-zoom img {
        transition: all 1.5s ease;
        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
    }

    .img-zoom:hover img {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }

/* REVIEWS Configuration */

.reviews-table {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.reviews-size {
    flex-basis: 32%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin-bottom: 30px;
    background: #fff3f3;
    cursor: pointer;
    display: flex;
    position: relative;
}

    .reviews-size img {
        height: 90px;
        margin-left: 5px;
        margin-top: 30px;
        margin-right: 30px;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        
    }

    .reviews-size p {
        padding: 0;
    }


    .reviews-size:hover {
        transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
    }


.table-bordered:hover {
    background-color: aquamarine;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
